<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false"
        data-auto-logout-link="false" onlogin="checkLoginState();" scope="public_profile,email,user_tagged_places">
    </div>
  </div>
</div>
